.space {
    margin: 10px;
}

.logout {
    cursor: pointer;
}

.custom-search-bar {
    height: 60px;
    border-radius: 48px;
}

.pagecontent {
    margin-top: 60px;
    margin-bottom: 100px;
}

.cart-options {
    margin: 0;
    display: flex;
}

.cart-options p {
    margin: auto 5px;
}

.cart-options button {
    height: 24px;
    width: 24px;
    text-align: center;
    font-size: 10px;
    padding: 5px;
}