body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.text-align-right{
  text-align: right;
}
.submit-button {
  width: 100%;
}

.space {
  margin: 10px;
}

.logout {
  cursor: pointer;
}

.custom-search-bar {
  height: 60px;
  border-radius: 48px;
}

.cart-options {
  margin: 0;
  display: flex;
}

.cart-options p {
  margin: auto 5px;
}

.cart-options button {
  height: 24px;
  width: 24px;
  text-align: center;
  font-size: 10px;
  padding: 5px;
}

.button-right {
  float: right;
}

.page-body {
  margin-top: 110px;
  margin-bottom: 110px;
}

.img-rounded {
  border-radius: 30px;
}

.alert-fixed {
  position:fixed; 
  top: 80px; 
  left: 5%;
  width: 90%;
  z-index:9999; 
  border-radius:10px
}